<div class="mb-2 text-center">
    <h3 class="fs-4 text">Filtrar Productos</h3>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                aria-expanded="false">Category</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/api/products/?test=guantes" value="guantes">Guantes</a></li>
                <li><a class="dropdown-item" href="/api/products/?test=pantalones" value="pantalones">Pantalones</a></li>
                <li><a class="dropdown-item" href="/api/products/?test=remeras">Remeras</a></li>
                <li><a class="dropdown-item" href="/api/products/?test=bucales">Bucales</a></li>
                <li><a class="dropdown-item" href="/api/products/?test=vendas">Vendas</a></li>
                <li><a class="dropdown-item" href="/api/products/?test=casco">Cascos</a></li>
                 <li><a class="dropdown-item" href="/api/products/">Todos</a></li>

            </ul>
        </li>
        <li class="nav-item text-center">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button"
                aria-expanded="false">Price</a>
            <ul class="dropdown-menu mr-3">
                <li>
                    <div class="form-check justify-content-center d-flex gap-2">
                        <input class="form-check-input checkPrice" type="checkbox" value="1000" id="check1">
                        <label class="form-check-label" for="check1">
                            1000+
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check justify-content-center d-flex gap-2">
                        <input class="form-check-input checkPrice" type="checkbox" value="5000" id="check2">
                        <label class="form-check-label" for="check2">
                            5000+
                        </label>
                    </div>
                </li>
                <li>
                    <div class="form-check justify-content-center d-flex gap-2">
                        <input class="form-check-input checkPrice" type="checkbox" value="10000" id="check3">
                        <label class="form-check-label" for="check3">
                            10000+
                        </label>
                    </div>
                </li>
            </ul>
        </li>
        <a id="goToCart" href="#" class="d-none btn btn-info">Ir al carrito</a>
    </ul>
    
</div>
<main class="container d-flex flex-wrap justify-content-center gap-3 flex-row">

    {{#each find}}
    <div class="card text-center" style="width: 18rem">
        <img src="/api/products/image/{{_id}}" class="w-100" alt={{title}}>

        <div class="card-body">
            <h5 class="card-title text-center">{{title}}</h5>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><em>Descripcion:</em>{{description}}</li>
                <li class="list-group-item">Precio: ${{price}}</li>
                <li class="list-group-item">Stock: {{stock}}</li>
                <li class="list-group-item">Category: {{category}}</li>
            </ul>
            <button href="#" class="btn btn-primary btnAddCart" value={{_id}}> Add to cart</button>
        </div>
    </div>
    {{/each}}

</main>
<script src="/js/main.js"></script>